{% extends "app/layoutProfile.html" %}


{%block content%}
{{user}}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">ADD SEND AUDIO TRAILER </h3>
  </div>

  <!-- /.box-header -->
  <!-- form start -->
  <section id="loginForm">
      <form action="/ShowFeedbackAdd" enctype="multipart/form-data" method="post" class="form">
{% csrf_token %}
    <div class="box-body">

      <div class="form-group">
        <label>name</label>
        {{form.name}}
        <!--input type="text" class="form-control" placeholder="Enter PhoneNumber (10 digits +91)"-->
      </div>
      <div class="form-group">
        <label>show</label>
        {{form.show}}
        <!--input type="text" class="form-control" placeholder="Enter PhoneNumber (10 digits +91)"-->
      </div>
      <div class="form-group">
        <label>feedbackFile</label>
        {{form.feedbackFile}}
        <!--input type="text" class="form-control" placeholder="Enter PhoneNumber (10 digits +91)"-->
      </div>
      <div class="form-group">
        <label>textualFeedback</label>
        {{form.textualFeedback}}
        <!--input type="text" class="form-control" placeholder="Enter PhoneNumber (10 digits +91)"-->
      </div>
    </div>
    <!-- /.box-body -->

    <div class="box-footer">
      <input type="submit" value="Submit" class="btn btn-primary" />

    </div>
  </form>
</section>
</div>
{%endblock%}
