{% extends "app/layoutProfile.html" %}
{% block scripts %}
{% load staticfiles %}
<script>
$('#datepicker').datepicker({
  autoclose: true
})
</script>
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()

    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    //Date range picker
    $('#reservation').daterangepicker()
    //Date range picker with time picker
    $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })
    //Date range as a button
    $('#daterange-btn').daterangepicker(
      {
        ranges   : {
          'Today'       : [moment(), moment()],
          'Yesterday'   : [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
          'Last 7 Days' : [moment().subtract(6, 'days'), moment()],
          'Last 30 Days': [moment().subtract(29, 'days'), moment()],
          'This Month'  : [moment().startOf('month'), moment().endOf('month')],
          'Last Month'  : [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        },
        startDate: moment().subtract(29, 'days'),
        endDate  : moment()
      },
      function (start, end) {
        $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
      }
    )

    //Date picker
    $('#datepicker').datepicker({
      autoclose: true
    })

    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })

    //Colorpicker
    $('.my-colorpicker1').colorpicker()
    //color picker with addon
    $('.my-colorpicker2').colorpicker()

    //Timepicker
    $('.timepicker').timepicker({
      showInputs: false
    })
  })
</script>
{%endblock%}

{%block content%}
{{user}}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">ADD ASHA</h3>
  </div>

  <!-- /.box-header -->
  <!-- form start -->
  <section id="loginForm">
      <form action="/AshaAdd" method="post" class="form">
{% csrf_token %}
    <div class="box-body">
      <div class="form-group">
        <label>Name</label>
        {{form.name}}
        <!--input type="text" class="form-control" placeholder="Enter Name of the ASHA..."-->
      </div>
      <div class="form-group">
        <label>PhoneNumber</label>
        {{form.phoneNumber}}
        <!--input type="text" class="form-control" placeholder="Enter PhoneNumber (10 digits +91)"-->
      </div>
      <div class="form-group">
        <label>AshaID</label>
        {{form.ashaID}}
        <!--input type="text" class="form-control" placeholder="Enter ID of the ASHA..."-->
      </div>
      <div class="form-group">
        <label>Location</label>
        {{form.location}}
        <!-- <input type="text" class="form-control" placeholder={{user.location}} disabled> -->
      </div>

        <div class="form-group">
          <label>Area</label>
          <!-- <select class="form-control select2" multiple="multiple" data-placeholder="Select an area"
                  style="width: 100%;">
            <option>Alabama</option>
            <option>Alaska</option>
            <option>California</option>
            <option>Delaware</option>
            <option>Tennessee</option>
            <option>Texas</option>
            <option>Washington</option>
          </select> -->
{{form.area}}
        </div>


      <div class="form-group">
        <label>DateOfBirth:</label>

        <div class="input-group date">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          {{form.dateOfBirth}}
          <!-- <input type="text" class="form-control pull-right" id="datepicker"> -->
        </div>
        <!-- /.input group -->
      </div>

      <div class="form-group">
        <label>YearOfJoining</label>
        {{form.YearOfJoining}}
      </div>

      <div class="form-group">
        <label>Phone Type</label>
        {{form.PhoneType}}
        <!-- <select class="form-control select2" multiple="multiple" data-placeholder="Select a State"
                style="width: 100%;">
          <option>Basic Phone</option>
          <option>Smart Phone</option>

        </select> -->
      </div>



        <div class="form-group">
          <label>Last Updated By</label>
          {{form.LastUpdatedBy}}
        </div>







      <div class="form-group">
        <label for="exampleInputFile">Photo</label>
        <!-- <input type="file" id="exampleInputFile">

        <p class="help-block"> No file chosen</p> -->

    {{form.photo}}  </div>

      <div class="form-group">
        <label>Author</label>
        {{form.author}}
        <!-- <select class="form-control select2" multiple="multiple" data-placeholder={{user.full_name}}
                style="width: 100%;" disabled>

        </select> -->
      </div>


    </div>
    <!-- /.box-body -->

    <div class="box-footer">
      <input type="submit" value="Submit" class="btn btn-primary" />

    </div>
  </form>
</section>
</div>
{%endblock%}
