{% extends "app/layout.html" %}

{% block content %}

<div class="main-container">
    <div class="cloud-image">
        <img src="../../static/app/img/w1.jpg" />
    </div>
    <div class="content">
        <div class="tweet-container">
            <a href="http://twitter.com/intent/tweet/?text=I%20just%20created%20a%20new%20Python%20Django%20website%20on%20Azure%20using%20Azure%20DevOps%20Project&hashtags=AzureDevOpsProject%2CVSTS%20%40Azure%20%40VSTS">
                <!--img src="../../static/app/img/tweetThis.svg" /-->
            </a>
        </div>
        <div class="content-body">
            <div class="success-text">Sangoshthi!</div>
            <div class="description line-1"> Promoting Peer Learning Among Health Workers</div>
            <div class="description line-2"> Welcome ! </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Are you an NGO ? </h2>
        <p>
          Learn more about Sangoshthi Contact us
          </p>
        <p><a class="btn btn-default" href="#">Contant Us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Promote Sangoshthi</h2>
        <p>     Social Networking   <p><a class="btn btn-default" href="">Donate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get in Touch with us</h2>
        <p> Get to know us  <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
